main {
    height: 600px;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

button {
    padding: 10px;
    cursor: pointer;
}

textarea {
    flex: 1;
    width: 100%;
    height: 100%;
    height: max-content;
    resize: none;
}