.grid {
  display: grid;
  gap: 8px;
  width: 80%;
  margin: 0 auto;
}

.cell {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(184, 184, 184);
  cursor: pointer;
}

.cell.cell-winning {
  animation: flash 1s ease-in-out infinite;
  border: solid 2px #000;
}

@keyframes flash {
  0% {
    border: solid 2px #000000;
  }
  100% {
    border: solid 2px rgb(255, 255, 255);
  }
}


.conecta4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}